<!DOCTYPE html>
<html lang="{{ article.lang if article and article.lang else DEFAULT_LANG }}">
  <head>
  {% block headers %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=endge, chrome=IE8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no" />
    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
    <!--[if lte IE 8]><script type="text/javascript" src="{{ SITEURL }}/theme/js/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygments.css" />
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/skeleton.css" />
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/theme.css" />
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/menu.css">
    <link rel="shortcut icon" type="image/png" href="{{ SITEURL }}/favicon.png" />
    <!-- Using MathJax, with the delimiters $ -->
    <!-- Conflict with pygments for the .mo and .mi -->
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
      "HTML-CSS": {
      styles: {
      ".MathJax .mo, .MathJax .mi": {color: "black ! important"}}
      },
      tex2jax: {inlineMath: [['$','$'], ['\\\\(','\\\\)']],processEscapes: true}
      });
    </script>

    <script type="text/javascript" src="{{ SITEURL }}/javascript/mathjax/MathJax.js?config=TeX-AMS_HTML"></script>

    <!--[if lte IE 8]><link rel="shortcut icon" type="image/x-icon" href="{{ SITEURL }}/favicon.ico" /><![endif]-->
    <link rel="alternate" type="application/atom+xml"
                           title="{{ SITENAME }} — Flux Atom"
                           href="{{ SITEURL }}/{{ FEED_ATOM }}" /> 
    {% if FEED_RSS %}
    <link rel ="alternate" type="application/rss+xml"
                           title="{{ SITENAME }} — Flux RSS"
                           href="{{ SITEURL }}/{{ FEED_RSS }}" /> 
    {% endif %}
    <!-- a small program to deal with the current language flag -->
    <script type="text/javascript" src="{{ SITEURL }}/theme/js/langflags.js"></script>
  {% endblock %}
  </head>
  <body>
    <div id="page">
      <header id="page-head">
	<div id="above-navbar">
	  <div class="header-title">
	    {% block headerTitle %} {% endblock %}
	  </div>
	  <a href="{{ '/'+article.lang+'/welcome.html' if article and article.lang and article.lang != 'en' else  '/welcome.html'}}">
	    <img src="{{ SITEURL }}/theme/images/eyes-logo.png"
		 style="height:100; width:420; margin:0; border:none;">
	  </a>
	</div>
        {%- include "includes/navbar.html" -%}
      </header>
      
      <div id="page-body">
	{% block content %}
	{% endblock %}
      </div>  <!-- /#page-body -->

      <footer id="page-foot">
	<hr/>
	<div id="poweredby">
	  <p>
	    {% trans %}Powered by{% endtrans %}
	    <a href="https://blog.getpelican.com/">Pelican</a>
	    {% trans %}and{% endtrans %}
	    <a href="https://www.python.org/">Python</a>.
	  </p>
	  <p>
	    {% trans %}Website maintained at{% endtrans %}
	    <a href="https://salsa.debian.org/georgesk/expeyes-website">
	      salsa.debian.org
	    </a>.
	  </p>
	</div>
	<p>
	  {% trans %}contact:{% endtrans %}
	  Ajith Kumar B P, Inter-University Accelerator Centre,
	  New Delhi 110067,
	  bpajith at gmail.com
	</p>
	
      </footer>
    </div> <!-- /#page -->
  </body>
</html>
